<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
    
        <!-- BEGIN: paragraph -->
        <div>
            <h2>{Title}</h2>
            {Text}
            <!-- BEGIN: -->
            <span>{}</span>
            <ul>
                <li>{}</li>
            </ul>
            <!-- END: -->
        </div>
        <!-- BEGIN: paragraph -->
    
        <!-- BEGIN: -->
        <span>{}</span>
        <ul>
            <!-- BEGIN: -->
            <li>{}</li>
            <!-- END: -->
        </ul>
        <!-- END: -->
    </body>
</html>