<div id="article" class="article">
    <a name="top"></a>
    <h1 class="title">{Title}</h1>
    <div class="intro"><strong>{Introduction}</strong></div>
    <!-- BEGIN: anchors -->
    <div class="anchor-list-{NumberOfAnchorColumns}-cols">
        <h3 class="g-h3">{LabelOnThisPage}:</h3>
        <ul>
            <!-- BEGIN: anchor -->
            <li><a href="#p{ParagraphIndex}">{ParagraphTitle}</a></li>
            <!-- END: anchor -->
        </ul>
        <div class="g-clear"></div>
    </div>
    <!-- END: anchors -->
    <!-- BEGIN: paragraph -->
    <a name="p{ParagraphIndex}"></a>
    <div class="paragraph">
        <h3 class="g-h3">{ParagraphTitle}</h3>
        <!-- BEGIN: image -->
        <div class="image-holder">
            <div class="image-small">
                <img title="{ImageTitle}" src="{ImageUrl}" alt="{ImageAlt}"/>
            </div>
        </div>
        <!-- END: image -->
        {ParagraphText}
    </div>
    <div class="backtotop"><a href="#top">{LabelBackToTop}</a></div>
    <!-- END: paragraph -->
</div>